bin/
obj/
riderModule.iml
/_ReSharper.Caches/
/Library/
/Logs/
/Temp/
/Client/UserSettings/
*.DS_Store
/Client/Builds
/.idea/
/Builds/
/Assembly-CSharp.csproj
/Client.sln
/MessagePack.Annotations.csproj
/MessagePack.csproj
/Assembly-CSharp-Editor.csproj
/Assembly-CSharp-Editor-firstpass.csproj
/Assembly-CSharp-firstpass.csproj
/*.csproj
/*.sln
/*.mp4
